 <% if @erro != nil %>
 <div class='alert alert-danger' role='alert'>
    <%= @erro %>
</div>
<% end %>
<div class='container-fluid'>
    <div class='row align-items-center justify-content-center'>
        <div class="col-md-11">
            <div class='card'>
                <div class="card-header card-title">
                    <h5 class="text-center"> Resenhas </h5>
                </div>
                <table class="table table-striped text-center">
                  <thead>
                   <tr>
                    <th> ID </th>
                    <th> Usuário </th>
                    <th> ISBN </th>
                    <th> Texto </th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <% @vetResenha.each do |resenha| %>
                <tr>
                    <td> <%= resenha.id %> </td>
                    <td> <%= resenha.usuario_id.nome %> </td>
                    <td> <%= resenha.livro_id.titulo %> </td>
                    <td> <%= resenha.texto %> </td>
                    <% if (session['id'] == resenha.usuario_id || session['login'] == 'admin') %>
                    <td> <a href="/administrador/excluir_resenha/<%=resenha.usuario_id.id%>/<%=resenha.livro_id.id%>/<%=resenha.id %>"> <span class="glyphicons glyphicons-bin"></span>Excluir </a> </td>
                    <td> <a href="/administrador/tela_alterar_resenha/<%=resenha.id %>"> <span class="glyphicons glyphicons-pencil"></span> Editar </a> </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>
</div>
</div>
</div>